<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Index</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css">
</head>
<body>
	<main>
		<form name="upload-form">
			<input type="file" name="file" accept=".txt" />
			<input type="submit" />
		</form>
		<hr style="border: 0; border-bottom: 1px solid #bbbfc6; margin: 1rem 0;" />
		<div id="words-grid" style="height: 600px; width: 100%;" class="ag-theme-alpine"></div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
	<script>
		(function() {

			const getQueryString = (params) => {
				return Object.keys(params).map(k => {
					return `${encodeURIComponent(k)}=${encodeURIComponent(params[k])}`;
				}).join('&');
			};

			const checkStatus = (url, callback) => {
				console.log('check');
				return fetch(url)
					.then(resp => resp.json())
					.then(data => {
						if (data.error) {
							throw new Error(data.error);
						} else if (data.meta?.ready) {
							callback(data.data);
						} else {
							setTimeout(
								() => checkStatus(url, callback), 
								1000
							);
						}
					});
			};

			const uploadForm = async (formData, success, error) => {
				try {
					const url = '/upload';
					const resp = await fetch(url, {
						method: 'post', 
						body: formData
					})
					const data = await resp.json();

					if (!resp.ok) {
						throw new Error(data.error || `Response status ${resp.status} for ${url}`);
					}

					const location = resp.headers.get('Location');
					if (!location) {
						throw new Error('No location found.')
					}

					await checkStatus(location, success);
				} catch (err) {
					error(err);
				}
			}

			const queryWords = (params) => {
				// console.log(params); 

				const sortModel = params.sortModel;
				let urlParams = Object.assign(
					{}, 
					{ start: params.startRow, end: params.endRow }, 
				);
		
				if (sortModel && sortModel.length > 0) {
					urlParams = Object.assign(
						urlParams, 
						{ sortField: sortModel[0].colId, sortOrder: sortModel[0].sort }
					);
				}

				fetch('/words' + '?' + getQueryString(urlParams))
					.then(resp => resp.json())
					.then(data => {
						params.successCallback(data.data, data.count);
					})
					.catch(err => {
						params.failCallback();
					});
			};

			const gridOptions = {
				columnDefs: [
					{ headerName: 'Path', field: 'filepath' },
					{ headerName: 'Name', field: 'filename' },
					{ headerName: 'Token', field: 'token' }
				],
				domLayout: 'autoHeight', 
				pagination: true,
				paginationPageSize: 10,
				paginationPageSizeSelector: [10, 20, 50, 100], 
				suppressCellFocus: true, 
				rowModelType: 'infinite', 
				datasource: {
					getRows: queryWords
				}, 
				autoSizeStrategy: {
					type: 'fitGridWidth',
					defaultMinWidth: 100,
				}
			};
			const gridElement = document.querySelector('#words-grid');
			const gridApi = agGrid.createGrid(gridElement, gridOptions);

			document
				.querySelector('form[name="upload-form"]')
				.addEventListener('submit', (event) => {
					event.preventDefault();
					
					const btnElem = event.submitter;
					btnElem && (btnElem.disabled = true);

					uploadForm(
						new FormData(event.target), 
						(val) => {
							// console.log(val);
							btnElem && (btnElem.disabled = false);
							gridApi.setGridOption('datasource', {
								getRows: queryWords
							});
						}, 
						(err) => {
							btnElem && (btnElem.disabled = false);
							console.error(err.message)
						}
					);
				});


		})();
	</script>
</body>
</html>